
<div class="container border border-success">
    <div class="chat-wrapper">
      <div class="row">
     <div class="col-xl-4">
         <div class="card">
             <div class="">asdas</div>
             <div class="">asdas</div>
             <div class="">asdas</div>
             <div class="">asdas</div>
             <div class="">asdas</div>
             <div class="">asdas</div>
             <div class="">asdas</div>
             <div class="">asdas</div>
             <div class="">asdas</div>
             <div class="">asdas</div>
             <div class="">asdas</div>
         </div>

     </div>
      <div class="col col-xl-8">
        <div class="get-nicer">
           <div id='wrapper' class="wrapper">
                  <div id="messages" class="columns"></div>
          </div>
        </div>
          <div class="">
            <form class='send-form message-wrapper' action="." method='post'> {% csrf_token %}
               <textarea id='chat-message-input' name='user_message' class="msg-input" placeholder="Write message here ..."></textarea>
              <!-- <input class="msg-input" type="text" name='user_message'> -->
              <input id='chat-message-submit' class="btn btn-success send-btn" type="submit" value="OK">
            </form>
        </div>
    </div>
  </div>
</div>
</div>

<script src="{% static "frontend/ws.js" %}"></script>
<script src="{% static "frontend/nicescroll/jquery.nicescroll.js" %}"></script>
<script>
$(function() {
  $(".get-nicer").niceScroll()
});
</script>
