<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'chat/style.css' %}">
    <title>Chatex</title>
  </head>
  <body style='height: 2000px'>
    <h1>Hello Django World!</h1>

    <div class="container">
        <div class="row">
            <div class="col col-xl-4">
                
            </div>

            <div class="col col-xl-8">
                <div class="wrapper">
                    <div class="msg_wrapper">
                        <p class='message'>hellosaadfsaf</p>
                    </div>
                    <div class="msg_wrapper">
                        <p class='message'>hellosadfsadfsadf sdfdsafsda sdfsadf asdfsadf sdfsadf sadfsaf</p>
                    </div>
                    <div class="msg_wrapper">
                        <p class='message'>hsadf asdfsadf sdfsadf sadfsaf</p>
                    </div>
                    <div class="msg_wrapper">
                        <p class='message'>hellosaddsafsda sdfsadf asdfsadf sdfsadf sadfsaf</p>
                    </div>
                    <div class="msg_wrapper">
                        <p class='message'>hellosadfs sadfsaf</p>
                    </div>
                    <div class="msg_wrapper">
                        <p class='message'>hellosadfsadff sadfsaf</p>
                    </div>
                </div>  
                <div class="">
                    <form action="." method='post'> {% csrf_token %}
                        <input class="msg_input" type="text" name='user_message'>
                        <input class="btn btn-success" type="submit" value="OK">
                    </form>
                </div>
            </div>
        </div>
    </div>


<!--     <div class="container">
        <div class="row">
            <div class="fixed">
                <input class="chat_input" type="text" name="chat_input">
            </div>  
        </div>
    </div>
 -->
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>