body{
    background-image: url('/static/frontend/img/bg3.jpg');
}

.container{
    background-color: #f4f4f4;
}

.fixed {
    position: fixed;
    width: 100%;
    z-index: 10;
}

#profile-preview-image{
    margin-right: 20px;
}

#profile-preview-image a{
    cursor: pointer;
}

#profile-preview-image a img{
    height: 40px;
    width: auto;
}


.centered {
  position: absolute;
  left: 50%;
  margin-top: 20%;
  transform: translate(-50%, -50%);
  padding: 0 70px;
}
.fieldWrapper{
    width: 320px;
}

.form-btn{
    /*text-align: center;*/
    /*margin: auto;*/

}
::-webkit-input-placeholder {
   text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
   text-align: center;
}

::-moz-placeholder {  /* Firefox 19+ */
   text-align: center;
}

:-ms-input-placeholder {
   text-align: center;
}



/* ================ Chat styles ================ */

.chat-wrapper{
  /*border: 2px solid red;*/
}

.contacts-wrapper{
  margin: 1px;
  border: 1px dotted pink;
}

.chat_input{
    height: 100px;
    width:100%;
    /* position: absolute; */
    /* left: 0; */
    /* bottom: 0; */
}

.wrapper{
    height: 400px;
    /* overflow-y: auto; */
}


/* ================= MESSAGE BLOCK ================= */

.post-wrapper{
  /* padding: 8px 20px 8px 20px; */
  /* border-radius: 23px; */
  display: flex;
  flex-direction: column;
}
.post{
    display: flex;
    font-size: 19px;
    margin: 15px 10px;
    max-width: 64%;
    min-height: 30px;
    align-items: center;

}

.msg-wrapper{
  padding: 8px 20px 8px 20px;
  border-radius: 23px;
  width: 100%;
}
.msg-wrapper p{
  margin: auto;
  white-space: pre-line;
  word-wrap: break-word;
  line-height: 1.3em;
  padding: 4px;
  color: #fff;
}

.message{
    /* display: inline; */
    word-wrap:break-word;
    /*margin-bottom: 0;*/
}

.sender-message{
  background-color: green;
  /*margin-left: auto;*/
}

.receiver-message{
  background-color: yellow;
}


.msg-time{
    font-size: 12px;
    padding: 0 0 10px 5px;
}

.user-image{
  height: 35px;
  width: 35px;
  border-radius: 25%;
}
/* ================= END MESSAGE BLOCK ================= */



/* ================= FORM BLOCK ================= */

.send-form{
  margin-top: 10px;
}

/*
.msg-input{
  resize: none;
  max-height: 200px;
  min-width: 100px;
}*/

.send-btn{

}

.msg-input{
  /* display: block; */
  /* box-sizing: padding-box; */
  /* overflow: hidden; */
  justify-content: center;
  resize:none;
  padding: 15px 15px 5px 15px;
  width: 80%;
  box-shadow: 2px 2px 8px rgba(black, .3);
  border: 0;
  border-bottom: 3px solid green;
}
/* ================= END FORM BLOCK ================= */

/* ================= CONTACTS CARD ================= */
.main-frame{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: 80px;
}

.main-frame .v-sep{
    border-right: 1px solid red;
}

.wrapper-bar{
    height: 650px;
    overflow-x: auto;
    position: relative;
}

.right-border {
    border-width: 1px 1px 1px 0;
    border-style: solid;
    border-image: linear-gradient(to left, #ccc, #333, #ccc) 1 100%;
}

.contact-card-bounds{
    min-width: 100%;
    overflow: hidden;
    height: 106px;
}

.card .card-header{
    padding: 5px 1.25rem;
    display: flex;
    justify-content: space-between;
}

.card .card-header .send-time{
    font-size: 14px;
}

.card:not(:last-child){
    margin-bottom: 10px;
}

.card .card-body{
    padding: 6px 12px;
}

.contact-img-wrapper{
    width: 55px;
    height: 55px;
}

.no-padding{
    padding: 0;
}

.space-btw-wrapper {
    display: flex;
    justify-content: space-between;
}

.card-center{
    width: 100%;
    padding: 0 10px;
    overflow: hidden;
}

.card-center .card-text{
    line-height: 1.24em;
    word-wrap: break-word;
}

.card-right{
    width: 18%;
}

.card-left{
    width: 18%;
}

/* ================= END CONTACTS CARD ================= */

/* ================= CHAT BLOCK ================= */

.wrapper-bar hr{
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
}


.chat-message{
    width: 78%;
}

.chat-message .space-btw-wrapper{
    align-items: flex-end;
}


.chat-messages-wrapper{
    height: 80%;
    overflow: auto;
}

.chat-bottom-area{

    bottom: 0;
    position: absolute;
    width: 100%;
}

.chat-input-area{
    display: flex;
    justify-content: center;
}

.chat-input-area textarea{
    overflow: auto;
    resize: none;
    outline: none;
    border: none;
    width: 70%;
    padding: 8px 15px;

}
/* ================= END CHAT BLOCK ================= */
