<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.min.css">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'base/css/style.css' %}">
    {% block special_styles %}{% endblock %}
    <title>{% block title %}Chatex{% endblock %}</title>
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <style media="screen">

   .get-nicer {
       overflow: auto;
       height: 280px;
     }

     .nice-wrapper {}

     .nicescroll-rails {
       background-color: rgb(51, 255, 183);
     }

     .nicescroll-cursors {
       border: none !important;
       background-color: #000 !important;
       border-radius: 0 !important;
     }

     .jumbotron {
       padding-top: 80px;
     }
    </style>
    <script>
        var id = "{{ request.user.id }}"
        window.django = {
            "userId": (id !== "None" ? id:null )
        }
    </script>
  </head>
   <body>
       {% include "frontend/navbar.html" %}

                {% block content %}
                <!-- Main nav bar -->
                <!------------------->

                {% endblock %}

        {% include "frontend/profilePopUp.html" %}
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.min.js"></script>
    {% load static %}
    <script src="{% static "frontend/bundles/profile.bundle.js" %}"></script>
    {% block special_scripts %}{% endblock %}
  </body>
</html>
