{% extends "base/base.html" %}

{% block title %}Register{% endblock %}

{% block content %}
    
    <div class="">
        <form class='centered' action="." method='post'> {% csrf_token %}
            {% for field in form %}
                <div class="fieldWrapper">
                    <p style="color:red">{{ field.errors.as_text }}</p>
                    {{ field }} 
                    {% if field.help_text %}
                    <p class="help">{{ field.help_text|safe }}</p>
                    {% endif %}
                </div>
            {% endfor %}

            <button class='btn btn-success form-btn' type="submit">Register</button>
        </form>
    </div>


{% endblock %}